html, body{

  margin:30px;


  text-align: center;
  background: #33337a;
  font-family: 'Tahoma', Verdana, sans-serif;
  font-size 16px;
  color: #000000;


}

p{
  text-align: left;
  background: #809fff;
  font-family: 'Tahoma', Verdana, sans-serif;
  font-size 16px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 700px

}

h1,h2,h3,h4{
    max-width:700px;
    text-align:center;
    border-bottom: 1px solid #000000;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
div.Results {

  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.Results:hover {
  border: 1px solid #777;
}

div.Results img {
  width: 90%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background: #809fff;

}
div.IdealJob {
  align-items: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.IdealJob:hover {
  border: 1px solid #777;
}

div.IdealJob img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background: #809fff;
}



div.DisplayPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.Displaypicure:hover {
  border: 1px solid #777;
}

div.DisplayPicture img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background: #809fff;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
