html, body{

  margin:30px

  text-align: center;
  background: #33337a;
  font-family: 'Tahoma', Verdana, sans-serif;
  font-size 16px;
  color: #000000;


}

p{
  border-radius :25px
  text-align: left;
  background: #809fff;
  font-family: 'Tahoma', Verdana, sans-serif;
  font-size 16px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 700px

}

h1,h2,h3,h4{
    max-width:700px
    text-align:center;
    border-bottom: 1px solid #000000;
    padding: 40px
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

image{
max-width: 20%;
  height: auto;
  
  
  align:center;
}
